@import url(https://fonts.googleapis.com/css?family=Nobile:400italic,700italic);
html, body {
  overflow: hidden;
  background-color: #888586;
  width: 100%;
  height: 100%;
}

.card {
  position: relative;
  width: 300px;
  height: 425px;
  border-width: 10px;
  border-style: solid;
  border-image: linear-gradient(to right, rgb(255, 230, 0), rgb(253, 152, 0)) 1;
  margin: 50px auto 0 auto;
  box-shadow: inset 10px 0px 15px 0px rgba(0, 0, 0, 0.1);
  background-color: #e6f0e6;
}

.card .text-container {
  width: 80%;
  height: 80%;
  margin: auto;
}

.strikethrough {
  text-decoration: line-through;
}

.card .text-container #head {
  
  font-family: "Nobile", sans-serif;
  font-size: 1.5em;
  margin: 60px auto 60px auto;
}

.card p {
  font-size: 1.1em;
  line-height: 1.4;
  font-family: "Nobile";
  color: #331717;
  font-style: italic;
  text-align: center;
  margin: 30px auto 0px auto;
}

.card .front {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: -10px 0px 0px -10px;
  border-width: 10px;
  border-style: solid;
  border-image: linear-gradient(to right, rgb(255, 230, 0), rgb(253, 152, 0)) 1;
  backface-visibility: hidden;
  background-color: #141414;
  /* background-image: url($cover-image); */
  background-size: contain;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(0deg);
  transition: all 0.8s ease-in-out;
}

.card:hover .front {
  transform: perspective(800px) rotateY(-170deg);
  background-color: #41718d;
}

.card:hover .back {
  transform: perspective(800px) rotateY(-170deg);
  box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.3), inset 2px 0px 15px 0px rgba(0, 0, 0, 0.1);
  background-color: #d2dcd2;
}

.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-width: 10px;
  border-style: solid;
  border-image: linear-gradient(to right, rgb(255, 230, 0), rgb(253, 152, 0)) 1;
  margin: -10px 0px 0px -10px;
  backface-visibility: visible;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(0deg);
  transition: all 0.8s ease-in-out;
  background-color: #e6f0e6;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.cover-shape-large {
  position: absolute;
  width: 65%;
  height: 48%;
  top: 25%;
  left: 18%;
  /* transform: rotateZ(45deg); */
}

.cover-shape-large .shape-block, .cover-shape-large .shape-diamond {
  background-color: #73bf8f;
}

.cover-shape-small {
  position: absolute;
  width: 50%;
  height: 36%;
  top: 30%;
  left: 25%;
}

.shape-block {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}



.shape-diamond {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  transform: rotateZ(45deg);
}

/* cake animation stuff from: https://codepen.io/WithAnEs/pen/OVZRvg
   not created by me! It's by Mark Thomes.
*/
.cake {
  position: absolute;
  text-align: center;
  justify-content: center;
  width: 100px;
  height: 80px;
  top: 45%;
  left: 50%;
  margin-top: -28px;
  margin-left: -50px;
}

.cake > * {
  position: absolute;

}

.layer {
  position: absolute;
  display: block;
  width: 100px;
  height: 40px;
  border-radius: 50%;
  background-color: #553c13;
  box-shadow: 0 2px 0px #6a4b18, 0 4px 0px #33240b, 0 6px 0px #32230b, 0 8px 0px #31230b, 0 10px 0px #30220b, 0 12px 0px #2f220b, 0 14px 0px #2f210a, 0 16px 0px #2e200a, 0 18px 0px #2d200a, 0 20px 0px #2c1f0a, 0 22px 0px #2b1f0a, 0 24px 0px #2a1e09, 0 26px 0px #2a1d09, 0 28px 0px #291d09, 0 30px 0px #281c09;
}


.flame {
  position: absolute;
  background-color: orange;
  width: 6px;
  height: 14px;
  border-radius: 10px 10px 10px 10px/25px 25px 10px 10px;
  top: -13.6px;
  left: 50%;
  margin-left: -3px;
  /* z-index: 10; */
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
  transform-origin: 50% 90%;
  animation: flicker 1s ease-in-out infinite;
}

@keyframes flicker {
  0% {
    /* transform: rotateZ(5deg); */
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.2), 0 0 20px rgba(255, 165, 0, 0.2), 0 0 60px rgba(255, 165, 0, 0.2), 0 0 80px rgba(255, 165, 0, 0.2);
  }
  25% {
    /* transform: rotateZ(-5deg); */
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
  }
  50% {
    /* transform: rotateZ(10deg); */
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.3), 0 0 20px rgba(255, 165, 0, 0.3), 0 0 60px rgba(255, 165, 0, 0.3), 0 0 80px rgba(255, 165, 0, 0.3);
  }
  75% {
    /* transform: rotateZ(-10deg); */
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.4), 0 0 20px rgba(255, 165, 0, 0.4), 0 0 60px rgba(255, 165, 0, 0.4), 0 0 80px rgba(255, 165, 0, 0.4);
  }
  100% {
    /* transform: rotateZ(5deg); */
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
  }
}